/* DeviceSummary.css */

.device-summary {
  margin-top: 20px;
}

.device-summary h2 {
  margin-bottom: 20px;
}

.device-summary table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: none; /* Remove the table outline */
}

.device-summary th, .device-summary td {
  border: none; /* Remove the cell borders */
  padding: 8px;
  text-align: left;
}

.device-summary th {
  background-color: transparent; /* Remove the table header background */
  font-weight: bold;
  font-size: 18px; /* Make the header text bigger */
  color: #fff;
  text-align: left; /* Left-align the table header text */
  cursor: pointer; /* Add pointer cursor to indicate sortable columns */
  position: relative; /* Position relative for sorting arrow */
}

.device-summary th:hover {
  background-color: transparent !important; /* Ensure background does not change on hover */
  color: #fff !important; /* Ensure the text color does not change on hover */
}

.device-summary th .sort-arrow {
  margin-left: 5px;
  font-size: 14px;
}

.device-summary tr {
  border-bottom: 1px solid #2f3643; /* Add this line to create a thin border between rows */
}

.device-summary tr:nth-child(even) {
  background-color: transparent;
}

.device-summary tr:hover td {
  background-color: #40495b;
}

.device-summary td {
  white-space: nowrap;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  min-height: 300px; /* Ensure the container has a minimum height */
}

.loading-container p {
  margin-top: 10px;
  font-size: 20px; /* Increase font size */
  color: #123abc;
}

.status-ball {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-online {
  background-color: #28a745;
}

.status-offline {
  background-color: #dc3545;
}

.status-unknown {
  background-color: #6c757d;
}

/* Tooltip container */
.tooltip {
  position: absolute;
  bottom: 150%; /* Position above the ball */
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

/* Show the tooltip on hover */
.status-ball:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Arrow pointing to the status ball */
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Sliding card styles */
.device-summary-container {
  display: flex;
  position: relative;
  width: 100%;
}

.device-details-card {
  position: fixed;
  right: calc(-100% - 230px - 140px);
  top: 90px;
  bottom: 0;
  width: 300px;
  background-color: #141a31;
  color: rgba(255,255,255,0.65);
  border-left: 1px solid #141a21;
  padding: 20px;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.device-details-card.open {
  right: 0;
}

.device-details-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: rgb(110, 110, 110);
}

.close-button:hover {
  color: rgb(70, 70, 70);
}

.clickable {
  cursor: pointer;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: none;
  background-color: #181111;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab:hover svg {
  color: #007bff; /* Change to your desired hover color */
}

.tab.active svg {
  color: #007bff; /* Active icon color */
}

.tab.active {
  border-bottom: 1px solid white;
  font-weight: bold;
}

.tab-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
