.notification-container {
  display: inline-block;
}

.notification-icon-container {
  cursor: pointer;
}

.notification-icon {
  color: #ffff;
}

.notification-badge {
  position: absolute;
  top: 10px;
  right: 8px;
  background-color: #ff0000;
  color: white;
  border-radius: 100%;
  padding: 0px 6px;
  font-size: 12px;
  font-weight: bold;
  border: 1px transparent;
}

.notification-panel {
  position: absolute;
  margin-right: 30px;
  right: 0;
  width: 350px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #141a31;
  color: rgba(255,255,255,0.65);
  border: 1px solid #141a21;
  border-radius: 4px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.notification-panel h3 {
  margin: 0;
  padding: 10px;
  background-color: #000000;
  border-bottom: 1px solid #ccc;
}

.notification-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item p {
  margin: 0 0 5px 0;
}

.notification-item small {
  color: #888;
}